apipkg==1.5
atomicwrites==1.4.0
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
contextlib2==0.6.0.post1
execnet==1.7.1
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
iniconfig==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mock==4.0.2
more-itertools==8.5.0
packaging==20.4
path==15.0.0
path.py==12.5.0
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.0.2
pytest-shutil==1.7.0
requests==2.24.0
selenium==3.141.0
six==1.15.0
termcolor==1.1.0
toml==0.10.1
urllib3==1.25.10
Werkzeug==1.0.1
wincertstore==0.2
